@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .block {
    width: 100px;
    height: 100px;
    transition: opacity 250ms;
  }

  .blocks-container.top .blocks-row .block {
    opacity: 1;
  }

  .blocks-container.bottom .blocks-row .block {
    opacity: 0;
  }

  .hero-img .blocks-container.top .blocks-row .block {
    background: #757637;
  }

  .hero-img .blocks-container.bottom .blocks-row .block {
    background: #375955;
  }

  .about-img .blocks-container.top .blocks-row .block {
    background: #375955;
  }

  .about-img .blocks-container.bottom .blocks-row .block {
    background: #645439;
  }
}
